<div class="container mx-auto">
  <section class="relative flex flex-col justify-center items-center h-auto p-6 sm:h-screen text-center">
    <div class="my-8 w-full sm:w-9/12 md:w-1/2">
      <h5>Get in Touch</h5>
      <p>
        <span *ngIf="isAvailable; else notAvailable">Yes, I’m currently available for full-time position on web and mobile application developer. You can reach me at </span>
        <ng-template #notAvailable>I'm not currently looking for new opportunities, but you can still contact me at </ng-template>
        <a class="text-blue-500" [href]="'mailto:'+emailAddress">{{ emailAddress }}</a>
      </p>

      <div class="my-12">
        <a [href]="resumeUrl" target="_blank" rel="noreferrer noopener" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 rounded">View Resume</a>
      </div>
    </div>

    <div class="absolute inset-x-0 bottom-0 flex justify-center p-6 sm:p-8">
      <a *ngFor="let social of socials" [href]="social.redirectUrl" class="m-2" target="_blank" rel="noreferrer noopener">
        <img [src]="social.assetUrl" class="w-8 sm:w-10" [alt]="social.name">
      </a>
    </div>
  </section>
</div>