<div class="container mx-auto">
  <section class="flex justify-center items-center h-auto p-6 sm:flex-row sm:h-screen text-center">
    <div class="my-8 w-full sm:w-9/12 md:w-1/2">
      <h5>Get in Touch</h5>
      <p>Yes, I’m currently available for full-time position on web and mobile application developer. 
        You can reach me at 
        <a class="text-blue-500" href="mailto:mayoljonathan@gmail.com">mayoljonathan@gmail.com</a>
      </p>

      <div class="my-12">
        <a href="https://drive.google.com/file/d/17-VSA2DlBkJgQcPMQqAIKsjMrPHi7IE_/view" target="_blank" rel="noopener" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 rounded">View Resume</a>
      </div>
    </div>
  </section>
</div>