<div class="container mx-auto">
  <section
    class="flex justify-center items-center p-6 sm:flex-row pt-32 pb-32 sm:pb-64"
  >
    <div class="my-8 mr-0 sm:mr-8 w-full sm:w-1/2">
      <h5>A little about me</h5>
      <p>
        Hi! I'm a Full Stack Web and Mobile Application Developer who loved
        building applications that people would use. I develop mobile
        applications using Flutter or React Native and web applications using
        React or Angular.
      </p>
      <p>
        When I’m not busy, I like to spend my time watching current technology
        trends, watching anime series and playing games.
      </p>
    </div>
    <img
      alt="Smiling Jonathan"
      class="rounded-lg hidden h-48 w-48 sm:h-64 sm:w-64 sm:block"
      src="https://res.cloudinary.com/tsebvaan/image/upload/c_fit,h_500,w_500/v1584008411/mayol_avatar_rgztfg.png"
    />
  </section>
</div>
