<div class="container mx-auto">
  <section class="flex justify-center items-center flex-col-reverse h-auto p-6 sm:flex-row sm:h-screen">
    <img 
      alt="Jonathan @ DevFest"
      class="rounded-lg h-48 w-48 sm:h-64 sm:w-64"
      src="https://res.cloudinary.com/tsebvaan/image/upload/c_scale,w_500/v1584008410/mayol_gdg_avatar_rczqps.jpg">
    <div class="my-8 ml-0 sm:ml-8 w-full sm:w-1/2">
      <span>Hello! I am</span>
      <h4>Jonathan Jay Mayol</h4>
      <p>I'm a web and mobile application developer based in Mandaue City, Cebu, Philippines.</p>
    </div>
  </section>
</div>
