@font-face {
  font-family: 'GoogleSans';
  src: url('assets/fonts/GoogleSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: "GoogleSans";
  src: url('assets/fonts/GoogleSans-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: "GoogleSans";
  src: url('assets/fonts/GoogleSans-Bold.ttf') format('truetype'); 
  font-weight: bold;
}