h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 18px;
  line-height: 1.4;
}

h1 { font-size: 4.6rem }
h2 { font-size: 3.6rem }
h3 { font-size: 2.8rem }
h4 { font-size: 2.2rem }
h5 { font-size: 1.8rem }
h6 { font-size: 1.6rem }

p { 
  line-height: 1.4;
  margin-bottom: 1rem;
}

span, p {
  font-size: 1.2rem;
}