<div class="flex justify-center items-center flex-col px-6 py-12 sm:flex-row text-left" 
  [ngClass]="{
    'sm:text-right': !isInverted, 
    'sm:flex-row-reverse': isInverted
  }">

  <img alt="project?.name" class="project" [src]="project?.imageUrl">
  <div class="my-8 w-full sm:w-1/2" [ngClass]="{
    'ml-0': !isInverted, 
    'sm:ml-8': !isInverted, 
    'mr-0': isInverted, 
    'sm:mr-8': isInverted
  }">
  
    <div class="text-blue-500 text-sm mb-2">Featured Project</div>
    <h5>{{ project?.name }}</h5>
    <p>{{ project?.description }}</p>

    <p>
      <span class="mr-3 last:mr-0 text-xs text-gray-600" *ngFor="let tech of project.techStack">{{ tech }}</span>
    </p>

    <a *ngIf="project.googlePlayUrl" [href]="project?.googlePlayUrl" target="_blank" rel="noreferrer noopener">
      <img alt='Get it on Google Play' class="w-48 -m-3 my-1 inline-block" src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
    </a>
  </div>
</div>